<div class="account-page">
  <h1 class="account-page__title">
    <span class="material-icons-outlined">home</span>
    {{ 'account.contact' | translate }}
  </h1>

  <div [formGroup]="form" class="account-page__card-grid">
    <div class="account-page__card">
      <span class="account-page__section-label">{{ 'account.contactLabel' | translate }}</span>
      <div class="account-page__form">
        <app-input [label]="'account.phoneNumber' | translate" formControlName="phoneNumber" mask="phone" placeholder="(555) 123-4567" />
        <app-input [label]="'account.personalEmail' | translate" formControlName="personalEmail" type="email" [maxlength]="200" />
      </div>
    </div>

    <div class="account-page__card">
      <span class="account-page__section-label">{{ 'account.mailingAddress' | translate }}</span>
      <app-address-form formControlName="address" [fixedCountry]="'US'" />
    </div>
  </div>

  <div class="account-page__actions">
    <button class="action-btn action-btn--primary"
      [appValidationPopover]="violations"
      [disabled]="form.invalid || saving()"
      (click)="save()">
      @if (saving()) {
        <span class="material-icons-outlined account-page__spinner">sync</span>
        {{ 'account.saving' | translate }}
      } @else {
        <span class="material-icons-outlined">save</span>
        {{ 'common.save' | translate }}
      }
    </button>
  </div>
</div>
