<app-dialog [title]="'adminPanels.completeI9.title' | translate" width="600px" (closed)="close()">
  <div [formGroup]="form">

    <div class="dialog-row">
      <app-select
        [label]="'adminPanels.completeI9.documentListType' | translate"
        formControlName="documentListType"
        [options]="documentListOptions"
        [required]="true" />
      <app-datepicker
        [label]="'adminPanels.completeI9.firstDayEmployment' | translate"
        formControlName="startDate"
        [required]="true" />
    </div>

    @if (form.get('documentListType')?.value === 'A') {
      <h4 class="i9-section-heading">{{ 'adminPanels.completeI9.listADocument' | translate }}</h4>
      <div class="dialog-row">
        <app-input [label]="'adminPanels.completeI9.documentType' | translate" formControlName="listA_doc_type" />
        <app-input [label]="'adminPanels.completeI9.documentNumber' | translate" formControlName="listA_doc_number" />
      </div>
      <div class="dialog-row">
        <app-input [label]="'adminPanels.completeI9.issuingAuthority' | translate" formControlName="listA_doc_issuer" />
        <app-datepicker [label]="'adminPanels.completeI9.expirationDate' | translate" formControlName="listA_doc_expiration" />
      </div>
    }

    @if (form.get('documentListType')?.value === 'B+C') {
      <h4 class="i9-section-heading">{{ 'adminPanels.completeI9.listBDocument' | translate }}</h4>
      <div class="dialog-row">
        <app-input [label]="'adminPanels.completeI9.documentType' | translate" formControlName="listB_doc_type" />
        <app-input [label]="'adminPanels.completeI9.documentNumber' | translate" formControlName="listB_doc_number" />
      </div>
      <div class="dialog-row">
        <app-input [label]="'adminPanels.completeI9.issuingAuthority' | translate" formControlName="listB_doc_issuer" />
        <app-datepicker [label]="'adminPanels.completeI9.expirationDate' | translate" formControlName="listB_doc_expiration" />
      </div>

      <h4 class="i9-section-heading">{{ 'adminPanels.completeI9.listCDocument' | translate }}</h4>
      <div class="dialog-row">
        <app-input [label]="'adminPanels.completeI9.documentType' | translate" formControlName="listC_doc_type" />
        <app-input [label]="'adminPanels.completeI9.documentNumber' | translate" formControlName="listC_doc_number" />
      </div>
      <div class="dialog-row">
        <app-input [label]="'adminPanels.completeI9.issuingAuthority' | translate" formControlName="listC_doc_issuer" />
        <app-datepicker [label]="'adminPanels.completeI9.expirationDate' | translate" formControlName="listC_doc_expiration" />
      </div>
    }

    <h4 class="i9-section-heading">{{ 'adminPanels.completeI9.reverification' | translate }}</h4>
    <app-datepicker
      [label]="'adminPanels.completeI9.workAuthExpiration' | translate"
      formControlName="reverificationDueAt" />
    <p class="i9-reverification-note">
      {{ 'adminPanels.completeI9.reverificationNote' | translate }}
    </p>

  </div>

  <div dialog-footer>
    <button class="action-btn" (click)="close()">{{ 'adminPanels.completeI9.cancel' | translate }}</button>
    <button class="action-btn action-btn--primary"
      [appValidationPopover]="violations"
      [disabled]="form.invalid || saving()"
      (click)="save()">
      @if (saving()) {
        <span class="material-icons-outlined" style="animation: spin 1s linear infinite">sync</span>
      } @else {
        <span class="material-icons-outlined">how_to_reg</span>
      }
      {{ 'adminPanels.completeI9.completeSection2' | translate }}
    </button>
  </div>
</app-dialog>
