<div class="account-page">
  <h1 class="account-page__title">
    <span class="material-icons-outlined">emergency</span>
    {{ 'account.emergency' | translate }}
  </h1>

  <div class="account-page__card">
    <div [formGroup]="form" class="account-page__form">
      <div class="account-page__row account-page__row--3col">
        <app-input [label]="'account.emergencyName' | translate" formControlName="emergencyContactName" [maxlength]="200" [required]="true" />
        <app-input [label]="'account.emergencyPhone' | translate" formControlName="emergencyContactPhone" mask="phone" placeholder="(555) 123-4567" [required]="true" />
        <app-select [label]="'account.relationship' | translate" formControlName="emergencyContactRelationship" [options]="relationshipOptions" />
      </div>
    </div>

    <div class="account-page__actions">
      <button class="action-btn action-btn--primary"
        [appValidationPopover]="violations"
        [disabled]="form.invalid || saving()"
        (click)="save()">
        @if (saving()) {
          <span class="material-icons-outlined account-page__spinner">sync</span>
          {{ 'account.saving' | translate }}
        } @else {
          <span class="material-icons-outlined">save</span>
          {{ 'common.save' | translate }}
        }
      </button>
    </div>
  </div>
</div>
