@use 'styles/variables' as *;

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  flex-shrink: 0;
  border-radius: $border-radius;

  &--sm {
    width: $avatar-size-xs;
    height: $avatar-size-xs;
    font-size: 8px;
  }

  &--md {
    width: $avatar-size-sm;
    height: $avatar-size-sm;
    font-size: var(--font-size-xxs);
  }

  &--lg {
    width: $avatar-size-lg;
    height: $avatar-size-lg;
    font-size: var(--font-size-md);
  }
}
