<app-page-header [title]="'approvals.title' | translate" icon="rule" />

<div class="tab-bar">
  <button class="tab" [class.tab--active]="activeTab() === 'inbox'" (click)="switchTab('inbox')">
    <span class="material-icons-outlined">inbox</span> {{ 'approvals.tabs.inbox' | translate }}
  </button>
  @if (canManageWorkflows()) {
    <button class="tab" [class.tab--active]="activeTab() === 'workflows'" (click)="switchTab('workflows')">
      <span class="material-icons-outlined">account_tree</span> {{ 'approvals.tabs.workflows' | translate }}
    </button>
  }
</div>

<div class="tab-panel">
  @switch (activeTab()) {
    @case ('inbox') {
      <app-approval-inbox />
    }
    @case ('workflows') {
      @if (canManageWorkflows()) {
        <app-approval-workflow-editor />
      }
    }
  }
</div>
