<div class="col-manager" role="dialog" [attr.aria-label]="'shared.columnManager' | translate" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
  <div class="col-manager__header">
    <span class="col-manager__title">{{ 'shared.columns' | translate }}</span>
    <button class="col-manager__reset" (click)="onReset()">{{ 'shared.resetColumns' | translate }}</button>
  </div>

  <div class="col-manager__list" cdkDropList (cdkDropListDropped)="onDrop($event)">
    @for (field of localOrder(); track field) {
      @if (getColumnByField(field); as col) {
        <div class="col-manager__item" cdkDrag>
          <span class="material-icons-outlined col-manager__drag" cdkDragHandle>drag_indicator</span>
          <mat-checkbox [checked]="isVisible(field)" (change)="toggleVisibility(field)" />
          <span class="col-manager__label">{{ col.header }}</span>
        </div>
      }
    }
  </div>
</div>
