<mat-form-field appearance="outline">
  <mat-label>{{ label() }}</mat-label>
  @if (prefix()) {
    @if (prefix().length <= 2) {
      <span matPrefix class="input__text-prefix">{{ prefix() }}</span>
    } @else {
      <span matPrefix class="material-icons-outlined">{{ prefix() }}</span>
    }
  }
  <input matInput
    [type]="effectiveType"
    [placeholder]="placeholder()"
    [readonly]="isReadonly()"
    [required]="required()"
    [attr.maxlength]="maxlength()"
    [autocomplete]="autocomplete()"
    [disabled]="disabled()"
    [value]="value()"
    (input)="onInput($event)"
    (blur)="markTouched()" />
  @if (type() === 'password') {
    <button matSuffix type="button" class="input__password-toggle"
      (mousedown)="toggleShowPassword()" (mouseup)="toggleShowPassword()"
      (mouseleave)="showPassword.set(false)"
      [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'">
      <span class="material-icons-outlined">{{ showPassword() ? 'visibility_off' : 'visibility' }}</span>
    </button>
  }
  @if (suffix()) {
    <span matSuffix>&nbsp;{{ suffix() }}</span>
  }
  @if (info()) {
    <span matSuffix class="material-icons-outlined info-icon"
      [matTooltip]="info()" matTooltipPosition="above">info</span>
  }
</mat-form-field>
