<mat-form-field appearance="outline">
  <mat-label>{{ label() }}</mat-label>
  @if (prefix()) {
    <span matPrefix class="material-icons-outlined">{{ prefix() }}</span>
  }
  <input matInput
    [type]="type()"
    [placeholder]="placeholder()"
    [readonly]="isReadonly()"
    [required]="required()"
    [attr.maxlength]="maxlength()"
    [autocomplete]="autocomplete()"
    [disabled]="disabled()"
    [value]="value()"
    (input)="onInput($event)"
    (blur)="markTouched()" />
  @if (suffix()) {
    <span matSuffix>&nbsp;{{ suffix() }}</span>
  }
  @if (info()) {
    <span matSuffix class="material-icons-outlined info-icon"
      [matTooltip]="info()" matTooltipPosition="above">info</span>
  }
</mat-form-field>
