<div class="account-page">
  <h1 class="account-page__title">
    <span class="material-icons-outlined">description</span>
    {{ 'account.taxComplianceForms' | translate }}
  </h1>

  <p class="tax-forms__intro">
    {{ 'account.taxFormsIntro' | translate }}
  </p>

  @for (tmpl of templates(); track tmpl.id) {
    <a class="tax-forms__item"
      [class.tax-forms__item--complete]="isComplete(tmpl.profileCompletionKey)"
      [routerLink]="tmpl.profileCompletionKey"
      [attr.aria-label]="tmpl.name">
      <div class="tax-forms__item-header">
        <span class="material-icons-outlined tax-forms__item-icon"
          [class.tax-forms__item-icon--complete]="isComplete(tmpl.profileCompletionKey)">
          {{ isComplete(tmpl.profileCompletionKey) ? 'check_circle' : tmpl.icon }}
        </span>
        <div class="tax-forms__item-info">
          <span class="tax-forms__item-label">{{ tmpl.name }}</span>
          <span class="tax-forms__item-description">{{ tmpl.description }}</span>
        </div>
        @if (isComplete(tmpl.profileCompletionKey)) {
          <span class="tax-forms__item-date">
            {{ 'account.completed' | translate }} {{ getCompletedDate(tmpl.profileCompletionKey) | date:'MM/dd/yyyy' }}
          </span>
        } @else if (tmpl.blocksJobAssignment) {
          <span class="tax-forms__item-required">{{ 'common.required' | translate }}</span>
        }
        <span class="material-icons-outlined tax-forms__item-chevron">chevron_right</span>
      </div>
    </a>
  }
</div>
