<div class="widget" [class.widget--accent]="accent()">
  <div class="widget__header">
    <span class="widget__title">
      @if (icon()) {
        <span class="material-icons-outlined widget__icon">{{ icon() }}</span>
      }
      {{ title() }}
      @if (count() !== null) {
        <span class="widget__count">{{ count() }}</span>
      }
    </span>
  </div>
  <div class="widget__body">
    <ng-content />
  </div>
  @if (viewAllLink()) {
    <a class="widget__view-all" [routerLink]="viewAllLink()">
      {{ viewAllLabel() }}
      <span class="material-icons-outlined">chevron_right</span>
    </a>
  }
</div>
