<div class="scan-input" [class.scan-input--focused]="isFocused()">
  <span class="material-icons-outlined scan-input__icon">qr_code_scanner</span>
  <label class="scan-input__label" for="scan-input-field">{{ label() }}</label>
  <input
    #scanInput
    id="scan-input-field"
    class="scan-input__field"
    type="text"
    [placeholder]="placeholder()"
    [value]="value()"
    [autofocus]="autoFocus()"
    (input)="onInput($event)"
    (keydown)="onKeydown($event)"
    (focus)="onFocus()"
    (blur)="onBlur()" />
  @if (value()) {
    <button class="scan-input__clear" (click)="clear(); focus()">
      <span class="material-icons-outlined">close</span>
    </button>
  }
</div>
